#logOut {
    background-color: #f9cddc;
    padding: 10px;
    margin-top: 10px;

    font-family: SpaceMono;
    font-size: 10px;
    box-shadow: rgb(54, 54, 54) 2px 2px;

    text-transform: capitalize;

    border-radius: 5px;
    border: black 1px solid;

    height: 60px;
}

#logOut:hover {
    cursor: pointer;
    box-shadow: rgb(54, 54, 54) 1px 1px;
    color: rgb(253, 250, 250);
}